header {
  background-color: #4e2a84;
}

header .navbar .navbar-collapse {
  flex-grow: 0;
}

header .navbar .navbar-collapse .active a {
  color: #ff4e6b !important;
}

header .navbar .navbar-collapse a {
  font-weight: 500;
  transition: all 0.5s;
}

header .navbar .navbar-collapse a:hover {
  color: aqua !important;
}

.cover {
  position: relative;
  width: 100%;
}

.cover .slider {
  position: absolute;
  background-image: url("./../img/b3.jpg");
  height: 800px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.cover .cover-content {
  position: absolute;
  top: 150px;
}

.cover .cover-content h2 {
  animation-name: renderTranform;
  animation-duration: 4s;
}

.cover .cover-content .btn-pink {
  background-color: #ff617c !important;
  color: white;
  border: 1px solid white;
  transition: all 0.5s;
}

.cover .cover-content .btn-pink:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ff617c;
}

@keyframes renderTranform {
  0% {
    transform: translateY(30px);
  }
  40% {
    transform: scale(200%);
  }
  60% {
    transform: translateX(60px);
  }
  80% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(-30px);
    transform: translateX(-60px);
    transform: translateY(-80px);
    transform: scale(200%);
  }
}
/*# sourceMappingURL=main.css.map */