header {
    .navbar {
        .navbar-collapse {
            flex-grow: 0;
            .active {
                a {
                    color: rgb(255, 78, 107) !important;
                }
            }
            a {
                font-weight: 500;
                transition: all 0.5s;
                &:hover {
                    color: aqua !important;
                }
            }
        }
    }
    background-color: #4e2a84;
}
