.cover {
    position: relative;
    width: 100%;
    .slider {
        position: absolute;
        background-image: url("./../img/b3.jpg");
        height: 800px;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .cover-content {
        position: absolute;
        top: 150px;
        h2 {
            animation-name: renderTranform;
            animation-duration: 4s;
        }
        .btn-pink {
            background-color: rgb(255, 97, 124) !important;
            color: white;
            border: 1px solid white;
            transition: all 0.5s;
            &:hover {
                background-color: white !important;
                color: black !important;
                border: 1px solid rgb(255, 97, 124);
            }
        }
    }
}

@keyframes renderTranform {
    0% {
        transform: translateY(30px);
    }
    40% {
        transform: scale(200%);
    }
    60% {
        transform: translateX(60px);
    }
    80% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(-30px);
        transform: translateX(-60px);
        transform: translateY(-80px);
        transform: scale(200%);
    }
}
